name: CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  setup:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    outputs:
      plugins: ${{ steps['set-plugins'].outputs.plugins }}
      changed-directories: ${{ steps['set-changed-directories'].outputs['changed-directories'] }}
    steps:
      - uses: actions/checkout@v2
      - id: files
        uses: jitterbit/get-changed-files@b17fbb00bdc0c0f63fcf166580804b4d2cdc2a42
        if: ${{ github.event_name != 'push' || github.event.before != '0000000000000000000000000000000000000000' }}
        with:
          format: 'json'
      - id: set-plugins
        run: echo "::set-output name=plugins::$(jq -cM .packages lerna.json)"
      - id: set-changed-directories
        run: echo "::set-output name=changed-directories::$(echo ${{ toJson(steps.files.outputs.all) }} | jq -cM 'map(split("/")) | map(.[0])')"
        if: ${{ steps.files.outputs.all }}
  lint:
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - run: brew install swiftlint
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
      - name: Restore Dependency Cache
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-dependency-cache-${{ hashFiles('**/package.json') }}
      - run: npm install
      - run: npm run lint
  verify:
    runs-on: macos-latest
    timeout-minutes: 30
    needs:
      - setup
      - lint
    strategy:
      matrix:
        plugin: ${{ fromJson(needs.setup.outputs.plugins) }}
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
      - name: Restore Dependency Cache
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-dependency-cache-${{ hashFiles('**/package.json') }}
      - run: npm install
      - run: npm run verify
        working-directory: ${{ matrix.plugin }}
        if: ${{ needs.setup.outputs['changed-directories'] && contains(needs.setup.outputs['changed-directories'], matrix.plugin) }}
  deploy:
    runs-on: macos-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    timeout-minutes: 30
    needs:
      - lint
      - verify
    steps:
      - run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> ~/.npmrc
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
      - name: Restore Dependency Cache
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-dependency-cache-${{ hashFiles('**/package.json') }}
      - run: npm install
      - run: npx lerna publish from-git --yes
